<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paybook.sync">

  <application>
    <activity
        android:name=".features.linkingsite.LinkingSiteActivity"
        android:launchMode="singleTop"
        android:theme="@style/SyncTheme"
        android:windowSoftInputMode="stateHidden|adjustPan"/>

    <activity
        android:name=".features.linksite.LinkSiteActivity"
        android:launchMode="singleTop"
        android:theme="@style/SyncTheme"/>

    <service android:name=".features.linkingsite.background.LinkingSiteBroadcastService"/>
    <service android:name=".features.resync.ResyncCredentialService"/>

    <receiver
        android:name=".features.linkingsite.background.LinkingSiteEventReceiver"
        android:exported="false">
      <intent-filter android:priority="-999">
        <action android:name="com.paybook.sync.linkingsite.event"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
